body {
    color: #222222;
    background-color: #e7f5ff;
    font-family: 'Lato', sans-serif;
}

/* NAVBAR */
nav a {
    color: #776c65;
}

.user-role {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

/* JUMBOTRON */
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
        url('https://images.unsplash.com/photo-1646215993316-c98f642303ce?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-family: 'DM Serif Display', sans-serif;
}

/* MAIN CONTENT */
.section-title {
    font-weight: 600;
    letter-spacing: -0.5px;
}

textarea {
    resize: none;
    height: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.form-btn {
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #000;

    transition: all 100ms linear;
}

.form-btn:hover {
    background-color: #343a40;
}

/* TABLE */
table th {
    text-wrap: nowrap;
}

td {
    vertical-align: middle;
}

td:nth-of-type(3) {
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td:nth-of-type(6),
td:nth-of-type(7) {
    width: 50px;
    min-width: 30px;
    text-align: center;
}

.edit-btn,
.delete-btn {
    font-size: 22px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 3px;

    transition: all 100ms linear;
}

.edit-btn {
    background-color: #f8f9fa;
    border: 1px solid #495057;
}

.edit-btn:hover {
    background-color: #dee2e6;
}

.delete-btn {
    color: #fff;
    background-color: #f03e3e;
}

.delete-btn:hover {
    background-color: #c92a2a;
}

/* MODAL EDIT PRODUCT */
#editProductModal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#editProductModal {
    border: none;
    width: 500px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

#closeModalButton {
    position: absolute;
    right: 10px;
    top: 0;

    cursor: pointer;
    font-size: 26px;
}

#editProductForm label {
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 3px;
    border-left: 3px solid #495057;
}

#productID {
    padding: 1px 3px;
    font-weight: 600;
    border-radius: 3px;
    background-color: #dee2e6;
}
