body {
    color: #222222;
    font-family: 'Lato', sans-serif;
}

/* NAVBAR */
nav a {
    color: #776c65;
}

.user-role {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

/* JUMBOTRON */
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
        url('https://images.unsplash.com/photo-1646215993316-c98f642303ce?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-family: 'DM Serif Display', sans-serif;
}

/* MAIN CONTENT */
main {
    background-color: #e7f5ff;
}

.section-title {
    font-weight: 600;
    letter-spacing: -0.5px;
}

.form-btn {
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #000;
}

/* TABLE */
table th {
    text-wrap: nowrap;
}

td {
    vertical-align: middle;
}

td:nth-of-type(3) {
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td:nth-of-type(6),
td:nth-of-type(7) {
    max-width: 30px;
    text-align: center;
}

.delete-btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 3px;
    background-color: #f03e3e;

    transition: all 100ms linear;
}

.delete-btn:hover {
    background-color: #c92a2a;
}
