body {
    color: #222222;
    font-family: 'Merriweather', sans-serif;
}
/* NAVBAR */
nav a {
    color: #776c65;
}

/* JUMBOTRON */
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/photo-1646215993316-c98f642303ce?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
