body {
    color: #222222;
    background-color: #240c02;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'DM Serif Display', sans-serif;
}

.top-banner {
    font-size: 14px;
}

.user-role {
    font-weight: 600;
    text-transform: uppercase;
}

/* NAVBAR */
nav a {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;

    transition: all 100ms ease-in-out;
}

nav a:hover {
    color: #3b3b3b;
    transform: translateY(2px);
}

nav a:active {
    color: #545454;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

/* PRODUCT */
#productContainer {
    display: flex;
    justify-content: center;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-link {
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
    font-weight: 500;
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    background-color: #d9480f;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

    transition: all 150ms ease-in-out;
}

.home-page-link:hover {
    transform: scale(1.01);
    background-color: #f06128;
}

.home-page-link:active {
    background-color: #f38458;
}

/* FOOTER */
footer {
    background-color: #e6e6e6;
}

.footer-logo {
    color: #000;
    font-size: 200px;
    width: fit-content;
    border-radius: 3px;
    padding: 20px 40px;
    letter-spacing: -20px;
    border: 1px solid #000;
}

.footer-logo span {
    position: absolute;
    right: 40px;
    top: 65px;

    font-size: 35px;
}

.list-title {
    color: #000;
    font-weight: 900;
    font-size: 21.5px;
    font-family: 'DM Serif Display', sans-serif;
}

.list-subtitle {
    font-weight: 600;
}

.list-subtitle,
.list-subtitle ~ ul > li,
footer a {
    color: #000;
    font-size: 17px;
}

footer a {
    font-weight: 500;
    text-decoration: none;
    display: inline-block;

    transition: all 200ms linear;
}

footer a:hover {
    font-weight: 700;
    transform: translateX(5px);
}

.subscribe-btn {
    border: none;
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 3px;
    background-color: #d9480f;

    transition: all 100ms linear;
}

.subscribe-btn:hover {
    background-color: #f06128;
}

.subscribe-btn:active {
    background-color: #f38458;
}
