body {
    color: #222222;
    font-family: 'Lato', sans-serif;
}

.user-role {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

/* NAVBAR */
nav a {
    color: #776c65;
    font-size: 14px;

    transition: color 100ms linear;
}

nav a:hover {
    color: #222222;
}

/* JUMBOTRON */
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/photo-1532079563951-0c8a7dacddb3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1,
h2 {
    font-family: 'DM Serif Display', sans-serif;
}

h1,
.jumbotron p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.hero-btn {
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    padding: 15px 30px;
    background-color: #d9480f;

    transition: all 200ms linear;
}

.hero-btn:hover {
    background-color: #f76707;
}

.hero-btn i {
    vertical-align: middle;
}

/* PRODUCT */
.home-page-link {
    color: #222222;
    width: fit-content;
    text-decoration: none;

    transition: all 100ms ease-in-out;
}

.home-page-link:hover {
    color: #776c65;
    text-decoration: underline;
}

/* FOOTER */
.list-title {
    color: #fff;
    font-size: 21.5px;
    font-family: 'DM Serif Display', sans-serif;
}

.list-subtitle {
    font-weight: 600;
}

.list-subtitle,
.list-subtitle ~ ul > li,
footer a {
    color: #fff;
    font-size: 17px;
}

footer a {
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0.1px;

    transition: color 100ms linear;
}

footer a:hover {
    color: #ffc078;
}
